<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" type="text/css" rel="stylesheet"/>
    <title>AI chatbot web</title>
</head>

<body>
    <div id="title">
        Welcom to our website for AI chatbot experience!
    </div>
    <div id="subtitle">
        from 인공지능 탐구동아리
        <div class="current_date">
            <script>
            document.getElementById("current_date").innerHTML = Date();
            </script>
        </div>
    </div>
    <div id="description">
        <p>Our website is designed for experiencing AI chatbot. <br>We coded chatbot with python and connected to this website by using html and Flask.</p>
    </div>
    <form id="inputText" action='/output' method='POST'>
        <input type="TEXT" name="inputText" placeholder="enter your massage">
        <input type="SUBMIT" name="submit" value="submit">
    </form>
    <div id="outputText">
        Output will appear here
    </div>
</body>
</html>